body{
    background-color: black;
}
.top{
    margin: 5px;
    text-align: center;
}
main{
    display:flex;
    justify-content: center;
}

main .pure-u-1-4{
    flex-wrap: wrap;
}

h1, h2, h3{
    padding-top: 2%;
    color: rgb(255, 255, 0);
}
h1{
    font-size: 50px;
}

p{
    color: white;
    padding-bottom: 2%;
    
}

/* .boots{
    display: inline;
    align-items: center;
    background-color: rgb(37, 37, 37);
    width: 250px;
    padding: 7px;
    margin: 20px;
    float: left;
} */

/* .clear{
    clear: both;
} */

.heels{
    color: white;
    /* vertical-align: top; */
    margin-left: 5px;
}