body{
    background-color: black;
  
}
.top{
    margin: 5px
}

h1, h2, h3{
    padding-top: 2%;
    color: yellow;
}

p{
    color: white;
    padding-bottom: 2%;
    
}

.boots{
    display: inline;
    background-color: rgb(37, 37, 37);
    width: 250px;
    padding: 7px;
    margin: 20px;
    float: left;
}

.clear{
    clear: both;
}

.heels{
    color: white;
    vertical-align: top;
    margin-left: 5px;
}