body{
    background-color: black;
}
.top{
    margin: 5px;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.box {
    box-sizing: 275px;
      background: #ff5e00;
      border: 1px solid #3b8dbd;
      text-align: center;
      padding: 20px;
      margin: 5px;
    }
h1, h2, h3{
    padding-top: 2%;
    color: rgb(255, 255, 0);
}
h1{
    font-size: 50px;
}

p{
    color: white;
}
