.hero-lopez{
    background-image: url(../images/sj-images/sj-041.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 4;
}

main{
    grid-auto-rows: minmax(400px, auto);
    grid-template-areas: 
        "first second thrid forth fifth sixth sidebar"
        "first2 second2 thrid2 forth2 fifth2 sixth2 sidebar"
        "first3 second3 thrid3 forth3 fifth3 sixth3 sidebar"
        "first4 second4 thrid4 forth4 fifth4 sixth4 sidebar"
}

.item1{
    grid-area: first;
    height: 100%;
    background-image: url(../images/1.png);
}
.item2{
    grid-area: second;
}

.pic4{
    background-image: url(../images/sj-images/sj-057.jpg);
}
.pic2{
    background-image: url(../images/sj-images/sj-030.jpg);
}
.pic6{
    background-image: url(../images/sj-images/sj-026.jpg);
}

.item3{
    grid-area:sidebar;
    height: 100%;
}
.item4{
    grid-area: middle;
}
.item5{
    grid-area: last;
}
.item6{
    grid-area: bottom1;
}
.item7{
    grid-area: bottom2;
}

section{
    border:solid white 2px;
    border-radius: 25px;
}